a, .btn, button, input[type="button"], input[type="submit"] {
  @include transition($transition-base);
}

section {
  .highlightable {
    @include transition($transition-slow);
  }

  > div {
    opacity: 1;
    position: relative;
    @include transition($transition-slowest);

    .section-body {
      * {
        position: relative;
      }

      h2 {
        top: 0;
        left: 0;
        opacity: 1;
        @include transition($transition-slow);
        transition-delay: $transition-duration-base;

        &:after {
          position: relative;
          left: 0;
          top: 0;
          opacity: 1;
          @include transition($transition-slower);
          transition-delay: $transition-duration-slow;
        }
      }

      div {
        top: 0;
        left: 0;
        opacity: 1;
        @include transition($transition-slowest);
        transition-delay: $transition-duration-slower;

        p {
          opacity: 1;
          @include transition($transition-slowest);
          transition-delay: $transition-duration-slowest;
        }
      }
    }
  }

  .section-nav {
    padding-bottom: $spacer-y * 2.8;
    opacity: 1;
    background-position: center $spacer-y * 1.5;
    @include transition($transition-slower);
    transition-delay: 2.5s;
  }

  .section-visual {
    .slider-overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 0;
      background: $black;
      z-index: 1;
      @include transition($transition-slower);
      transition-delay: $transition-duration-slowest * 1.1;
    }
  }

  &.section-initial {
    > div {
      opacity: 0;

      .section-body {
        h2 {
          top: 50px;
          left: 0;
          opacity: 0;

          &:after {
            top: 150px;
            left: 0;
            opacity: 0;
          }
        }

        div {
          top: 250px;
          left: 0;
          opacity: 0;

          p {
            opacity: 0;
          }
        }
      }

      .section-visual {
        .slider-overlay {
          width: 100%;
        }
      }
    }

    .section-nav {
      padding-bottom: 0;
      opacity: 0;
      background-position: center $spacer-y * 4;
    }
  }

  &.section-light {
    .section-visual {
      .slider-overlay {
        background: $white;
      }
    }
  }
}
