/**
 * @license
 * MyFonts Webfont Build ID 3333949, 2017-01-20T05:24:22-0500
 *
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are
 * explicitly restricted from using the Licensed Webfonts(s).
 *
 * You may obtain a valid license at the URLs below.
 *
 * Webfont: AvenirLTStd-Roman by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/avenir/55-roman/
 *
 * Webfont: AvenirLTStd-Light by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/avenir/35-light/
 *
 * Webfont: AvenirLTStd-Black by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/avenir/95-black/
 *
 *
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=3333949
 * Licensed pageviews: 250,000
 * Webfonts copyright: Copyright &#x00A9; 1989, 1995, 2002 Adobe Systems Incorporated.  All Rights Reserved. &#x00A9; 1981, 1995, 2002 Heidelberger Druckmaschinen AG. All rights reserved.
 *
 * © 2017 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/32df3d");


@font-face {
	font-family: "Avenir";
	src: url("./../fonts/32DF3D_0_0.eot");
	src: url("./../fonts/32DF3D_0_0.eot?#iefix") format("embedded-opentype"),url("./../fonts/32DF3D_0_0.woff2") format("woff2"),url("./../fonts/32DF3D_0_0.woff") format("woff"),url("./../fonts/32DF3D_0_0.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: "AvenirLight";
	src: url("./../fonts/32DF3D_1_0.eot");
	src: url("./../fonts/32DF3D_1_0.eot?#iefix") format("embedded-opentype"),url("./../fonts/32DF3D_1_0.woff2") format("woff2"),url("./../fonts/32DF3D_1_0.woff") format("woff"),url("./../fonts/32DF3D_1_0.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: "AvenirBold";
	src: url("./../fonts/32DF3D_2_0.eot");
	src: url("./../fonts/32DF3D_2_0.eot?#iefix") format("embedded-opentype"),url("./../fonts/32DF3D_2_0.woff2") format("woff2"),url("./../fonts/32DF3D_2_0.woff") format("woff"),url("./../fonts/32DF3D_2_0.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
