section#testimonials {
  text-align: center;

  .section-body {
    h2 {
      &:after {
        display: none;
      }
    }
  }

  &.section-light, &.section-dark {
    .slick-slider.slick-dotted {
      .slick-dots {
        text-align: center;
      }
    }
  }

  .section-visual {
    padding-top: 0;

    blockquote {
      padding: $spacer-y * 0.6 $spacer-x * 5;
      position: relative;

      cite {
        font-size: $font-size-sm;
        font-family: $headings-font-family;
        font-style: normal;
        text-transform: uppercase;
        color: $black;
      }

      &:before, &:after {
        position: absolute;
        width: $spacer-x * 4;
        height: $spacer-y * 2;
        content: '"';
        font-family: $headings-font-family;
        font-size: $font-size-lg * 4;
        font-style: italic;
        color: $brand-secondary;
        line-height: $font-size-lg * 4;
        text-align: left;
      }

      &:before {
        top: 0;
        left: 0;
      }

      &:after {
        bottom: $spacer-y * 1.5;
        right: 0;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  section#testimonials {
    padding-left: 0;
    padding-right: 0;

    .section-visual {
      blockquote {
        padding-left: $spacer-x * 1.5;
        padding-right: $spacer-x * 1.5;

        &:before, &:after {
          width: $spacer-x * 2;
          height: $spacer-y * 2;
          font-size: $font-size-lg * 2;
          line-height: $font-size-lg * 2;
        }
      }
    }
  }
}
