body.privacy {
  padding-top: $spacer-y * 2;
  padding-bottom: $spacer-y * 2;
  overflow: initial;

  section {
    min-height: 0 !important;
    padding: $spacer-y * 2 $spacer-x * 4 $spacer-y * 2 $spacer-x * 1.5;
  }

  #optout {
    .section-body {
      p:last-of-type {
        margin-bottom: 0;
        padding-bottom: $spacer-y * 1.5;
        background-image: url("./../img/corner-secondary.png");
        background-repeat: no-repeat;
        background-position: right bottom;
      }
    }
  }

  #main {
    overflow: initial;
  }

  &.nav-open {
    #main {
      left: 0;
      padding-left: $nav-width;
    }
  }

  #nav {
    ul {
      margin: 6rem 0;
    }
  }
}

@include media-breakpoint-up(lg) {
  body.privacy {
    #nav {
      ul {
        li {
          &:first-of-type {
            a {
              padding-top: 2px;
            }
          }

          a {
            margin-left: 0;
            padding-left: $spacer-x * 4;
            text-align: left;

            &:after {
              margin-left: 0;
            }
          }
        }
      }

      .nav-footer {
        text-align: left;
        padding-left: $spacer-y * 4;
        padding-bottom: 100px;
      }
    }

    #nav-toggle {
      display: none;
    }

    &.nav-open {
      #main {
        #back-to-top.make-visible {
          opacity: 1;
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  body.privacy {
    section {
      padding: $spacer-y * 2 $spacer-x;
    }

    #nav {
      ul {
        margin: $spacer-y * 1.2 0;
      }
    }
  }
}
