section#contact {
  padding: $spacer-y * 2 $spacer-x * 4 0;

  .nav {
    margin-bottom: $spacer-y * 2;

    a.nav-link {
      text-align: left;
      font-family: $headings-font-family;
      font-size: $font-size-xs;
      color: $black;
      background: transparent;
      text-transform: uppercase;
      @include transition($transition-base);

      &:after {
        content: " ";
        margin: $link-bar-margin 0;
        width: $link-bar-width;
        height: $link-bar-height;
        background-color: transparent;
        display: block;
        @include transition($transition-base);
      }

      &:hover {
        color: $brand-secondary;

        &:after {
          background-color: $brand-secondary;
        }
      }

      &.active {
        color: $brand-secondary;
        background: transparent;

        &:after {
          background-color: $brand-secondary;
        }

        &:hover {
          background: transparent;

          &:after {
            background-color: $brand-secondary;
          }
        }
      }
    }
  }

  .section-body {
    strong {
      font-family: $headings-font-family;
      font-size: $font-size-sm;
      display: block;
    }
  }

  .section-visual {
    padding-top: 0;
  }

  &.section-light, &.section-dark {
    .slick-slider {
      .slick-arrow {
        margin-top: -8%;

        &.slick-prev {
          display: none !important;
        }
      }
    }
  }

  #map {
    width: 100%;
    height: 445px;
  }

  form {
    * {
      @include transition($transition-slow);
    }

    input, textarea {
      font-size: $font-size-xs;
      font-family: $font-family-base;
      opacity: 1;
    }

    input[type="submit"] {
      text-transform: uppercase;
      font-family: $headings-font-family;
      letter-spacing: $letter-spacing-lg;
    }

    label.error {
      margin: 0;
      padding: 0;
      position: absolute;
      font-size: $font-size-xs;
      color: $state-danger-text;
    }

    .contact-message-container {
      opacity: 0;
      min-height: $spacer-y * 2.5;

      .contact-message-success {
        color: $black;
        display: none;
      }

      .contact-message-error {
        color: $state-danger-text;
        display: none;
      }
    }

    &.contact-send-success {
      input, textarea {
        opacity: 0.5;
      }

      .contact-message-container {
        opacity: 1;

        .contact-message-success {
          display: block;
        }
      }
    }

    &.contact-send-error {
      .contact-message-container {
        opacity: 1;

        .contact-message-error {
          display: block;
        }
      }
    }
  }
}

@include media-breakpoint-between(sm, md) {
  section#contact {
    padding: $spacer-y * 2 $spacer-x * 4 0;
  }
}

@include media-breakpoint-down(sm) {
  section#contact {
    padding: $spacer-y * 2 $spacer-x 0;
  }
}
