section#why {
  .section-visual {
    position: relative;
    padding-top: $spacer-y * 1.5;

    .slider-overlay {
      left: 0;
    }

    .slick-dots {
      padding-right: $spacer-x * 2;
      bottom: -1rem;
      position: relative;
    }

    .slick-slide {
      position: relative;
      background: $black;
      padding-right: $spacer-x * 2;

      img {
        max-width: 100%;
      }

      h4 {
        padding-bottom: 0;
        position: absolute;
        bottom: $spacer-y;
        right: 0;
        font-size: $font-size-h2;
        color: $brand-primary;
        text-transform: lowercase;

        &:after {
          margin: $subheading-bar-margin;
          margin-left: auto;
          content: " ";
          display: block;
          width: $subheading-bar-width;
          height: $subheading-bar-height;
          background-color: $brand-primary;
        }
      }
    }
  }
}
