section#how {
  .section-visual {
    .slider-overlay {
      right: 0;
    }
  }

  #how-slider.slick-slider {
    .slick-dots {
      bottom: 0;
      text-align: left;

      li {
        button {
          margin: 5px 7px 0 0;
        }
      }
    }

    .slick-slide {
      &:before {
        position: relative;
        content: " ";
        display: block;
        width: 100%;
        padding-bottom: 75%;
      }

      > * {
        position: absolute;
        @include transition($transition-slowest);
      }

      h4 {
        left: 0;
        bottom: $spacer-y;
        z-index: 3;
        text-transform: lowercase;
        font-size: $font-size-h2;
        color: $brand-secondary;

        &:after {
          margin: $subheading-bar-margin;
          content: " ";
          display: block;
          width: $subheading-bar-width;
          height: $subheading-bar-height;
          background-color: $brand-secondary;
        }
      }

      .how-fg {
        z-index: 2;
      }

      .how-bg {
        z-index: 1;
      }

      img {
        max-width: 100%;
      }

      &.how-slide-email {
        .how-fg {
          top: 0;
        }

        .how-bg {
          top: 0;
        }
      }

      &.how-slide-advertorial {
        .how-fg {
          top: -1%;
        }

        .how-bg {
          top: 1%;
        }
      }

      &.how-slide-mobile {
        .how-fg {
          top: 0;
        }

        .how-bg {
          top: 0;
        }
      }

      &.how-slide-social {
        .how-fg {
          top: 0;
        }

        .how-bg {
          top: 0;
        }
      }

      &.how-slide-display {
        .how-fg {
          top: -1%;
        }

        .how-bg {
          top: 1%;
        }
      }

      &.how-slide-native {
        .how-fg {
          top: 0;
        }

        .how-bg {
          top: 0;
        }
      }

      &.slick-active {
        &.how-slide-email {
          h4 {
            // left: 0;
          }

          .how-fg {
            top: -1%;
          }

          .how-bg {
            top: 1%;
          }
        }

        &.how-slide-advertorial {
          h4 {
            // left: 0;
          }

          .how-fg {
            top: 0;
          }

          .how-bg {
            top: 0;
          }
        }

        &.how-slide-mobile {
          h4 {
            // left: 0;
          }

          .how-fg {
            top: -1%;
          }

          .how-bg {
            top: 1%;
          }
        }

        &.how-slide-social {
          h4 {
            // left: 0;
          }

          .how-fg {
            top: -1%;
          }

          .how-bg {
            top: 1%;
          }
        }

        &.how-slide-display {
          h4 {
            // left: 0;
          }

          .how-fg {
            top: 0;
          }

          .how-bg {
            top: 0;
          }
        }

        &.how-slide-native {
          h4 {
            // left: 0;
          }

          .how-fg {
            top: -1%;
          }

          .how-bg {
            top: 1%;
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  section#how {
    #how-slider.slick-slider {
      margin-bottom: 0;
      
      .slick-slide {
        &:before {
          padding-bottom: 95%;
        }
      }

      .slick-dots {
        bottom: 1rem;
      }
    }
  }
}
