section#publishers {
  .section-visual {
    padding-top: 0;
  }

  .publishers-action {
    .links {
      margin: $spacer-y * 1.5 0;
      display: block;
      opacity: 1;
      text-align: left;
      font-family: $headings-font-family;
      font-size: $font-size-xxs;
      letter-spacing: $letter-spacing-lg;
      text-transform: uppercase;

      a {
        color: $white;
        line-height: $spacer-y * .95;
        height: $spacer-y * .95;
        display: inline-block;

        &:hover {
          color: $brand-primary;
        }
      }

      a:first-of-type {
        padding-right: $spacer-x;
        margin-right: $spacer-x * 0.9;
        border-right: $heading-bar-height * .8 solid $brand-primary;
      }
    }
  }
}
