section#who {
  .section-visual {
    padding-left: $spacer-y * 2;
  }

  .section-body {
    padding-right: $spacer-y * 2;

    p:last-of-type {
      margin-bottom: 0;
      padding-bottom: $spacer-y * 1.5;
      background-image: url("./../img/corner-primary.png");
      background-repeat: no-repeat;
      background-position: right bottom;
    }
  }

  .who-clients {
    #who-slider {
      padding-bottom: $spacer-y * 2;

      .slick-slide {
        > div {
          position: relative;
          float: left;
          display: block;
          width: 25%;

          &:before {
            display: block;
            content: " ";
            width: 100%;
            padding-top: 100%;
          }

          > div {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 1;
            background-size: 70%;
            background-position: center center;
            background-repeat: no-repeat;
            @include transition($transition-base);
          }

          @for $i from 1 through 12 {
            &:nth-of-type(#{$i}) > div {
              transition-delay: $transition-duration-slow + ($i / 10);
            }
          }
        }
      }
    }

    &:after {
      content: " ";
      display: block;
      width: 500%;
      height: 1px;
      background: $brand-primary;
      position: absolute;
      bottom: $spacer-y;
      left: $spacer-x * 1.5;
      @include transition($transition-slowest);
      transition-delay: $transition-duration-slower * 1.2;
    }
  }

  &.section-initial {
    .who-clients {
      &:after {
        left: 500%;
      }

      #who-slider  {
        .slick-slide:first-of-type {
          > div {
            > div {
              top: 50px;
              opacity: 0;
            }
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(md) {
  section#who {
    .section-body {
      padding-right: 1rem;
    }

    .section-visual {
      padding-left: 1rem;
    }
  }
}
