section#home {
  padding: $spacing-home-lg-y $spacing-home-lg-x;
  min-height: 2000px;
  top: 0 !important;
  display: block;
  position: relative !important;

  img {
    position: relative;
    top: 0;
    margin: 20% auto $spacer-y * 2;
    width: 100%;
    max-width: 550px;
    display: block;
    @include transition($transition-slower);
    transition-delay: 2.5s;
  }

  &.section-initial {
    img {
      top: $spacer-y;
    }
  }

  #video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url(../img/home-video.jpg) no-repeat;
    background-size: cover;
    display: block;
  }

  .section-nav {
    color: $white;
    background-image: url("./../img/arrow-primary.png");

    &:hover {
      color: $brand-primary;
    }
  }
}

@media screen and (min-width: 1500px) {
  section#home img {
    margin-top: 22%;
  }
}

@include media-breakpoint-between(sm, md) {
  section#home img {
    margin-top: 35%;
  }
}

@include media-breakpoint-down(sm) {
  section#home img {
    margin-top: 50%;
  }
}
