body {
  overflow-x: hidden;
  position: relative;
  background-color: $white;
}

body {
  section {
    padding: $spacer-y * 2 $spacer-x * 4 $spacer-y * 4;
    position: relative;
    left: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-width: 100%;
    }

    .section-nav {
      width: 100%;
      position: absolute !important;
      left: 0;
      right: 0;
      bottom: 0;
      display: block;
      text-transform: uppercase;
      font-size: $font-size-xs;
      text-align: center;
      background-repeat: no-repeat;
      font-family: $headings-font-family;
      letter-spacing: $letter-spacing-sm;
    }

    .section-visual {
      padding-top: $spacer-y * 3;
    }

    &.section-light {
      color: $gray-light;
      background-color: $white;

      h2 {
        color: $black;

        &:after {
          background-color: $brand-secondary;
        }
      }

      span.highlight {
        color: $brand-secondary;
      }

      .section-nav {
        color: $black;
        background-image: url("./../img/arrow-secondary.png");

        &:hover {
          color: $brand-secondary;
        }
      }
    }

    &.section-dark {
      color: $white;
      background-color: $black;

      h2:after {
        background-color: $brand-primary;
      }

      span.highlight {
        color: $brand-primary;
      }

      .section-nav {
        color: $white;
        background-image: url("./../img/arrow-primary.png");

        &:hover {
          color: $brand-primary;
        }
      }
    }
  }

  #main {
    overflow-x: hidden;

    #get-in-touch {
      display: block;
      position: fixed;
      bottom: $spacing-home-lg-y;
      left: 0;
      margin-left: $spacing-home-lg-x;
      z-index: 1;
      font-family: $headings-font-family;
      font-size: $font-size-xxs;
      line-height: $font-size-base;
      letter-spacing: $letter-spacing-lg;
      text-transform: uppercase;
      color: $white;
      white-space: nowrap;
      @include transition($transition-slow);

      &:before {
        margin: 0 0 0.5rem;
        content: " ";
        display: block;
        width: $heading-bar-width;
        height: $heading-bar-height;
        background-color: $brand-primary;
        @include transition($transition-slow);
      }

      &.section-light {
        color: $black;

        &:before {
          background-color: $brand-secondary;
        }
      }
    }

    #back-to-top {
      display: block;
      position: fixed;
      bottom: $spacing-home-lg-y;
      right: 0;
      width: 40px;
      height: 40px;
      margin-right: $spacing-home-lg-x;
      z-index: 1;
      background-image: url("./../img/arrow-primary.png");
      background-repeat: no-repeat;
      background-position: left top;
      transform: rotate(-180deg);
      opacity: 0;
      @include transition($transition-slow);

      &.section-light {
        background-image: url("./../img/arrow-secondary.png");
      }

      &.make-visible {
        opacity: 1;
      }
    }

    #top-links {
      display: block;
      position: fixed;
      top: $spacing-home-lg-y * .7;
      right: $spacing-home-lg-x;
      width: 150px;
      z-index: 1;
      opacity: 1;
      text-align: right;
      font-family: $headings-font-family;
      font-size: $font-size-xxs;
      letter-spacing: $letter-spacing-lg;
      text-transform: uppercase;
      @include transition($transition-slow);

      a {
        color: $white;
        line-height: $spacer-y * .95;
        height: $spacer-y * .95;
        display: inline-block;

        &:hover {
          color: $brand-primary;
        }
      }

      a:first-of-type {
        padding-right: $spacer-x;
        margin-right: $spacer-x * 0.9;
        border-right: $heading-bar-height * .8 solid $brand-primary;
      }

      &.section-light {
        a {
          color: $black;

          &:hover {
            color: $brand-secondary;
          }
          &:first-of-type {
            border-right: $heading-bar-height * .8 solid $brand-secondary;
          }
        }
      }
    }
  }
}

body.nav-open {
  #site {
    overflow: hidden;
  }

  #main {
    #get-in-touch {
      left: $nav-width;
      opacity: 0;
    }

    #back-to-top {
      opacity: 0;
    }
  }
}

@include media-breakpoint-between(sm, md) {
  body {
    section {
      padding: $spacer-y * 7 $spacer-x * 2 $spacer-y * 8;
      display: block;

      &:not(.section-home) {
        min-height: auto !important;
      }
    }

    #main {
      #get-in-touch {
        bottom: $spacing-home-sm-y;
        margin-left: $spacing-home-sm-x;
      }

      #top-links {
        top: $spacing-home-sm-y;
        right: $spacing-home-sm-x;

        a:first-of-type {
          padding-right: $spacer-x * 0.5;
          margin-right: $spacer-x * 0.5;
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  body {
    section {
      padding: $spacer-y * 4 $spacer-x $spacer-y * 5;
      display: block;

      .section-visual {
        padding-top: $spacer-y;
      }

      &:not(.section-home) {
        min-height: auto !important;
      }
    }

    #nav {
      &:after {
        content: " ";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        background: rgba(0,0,0,0.5);
      }
    }

    #main {
      #get-in-touch {
        bottom: $spacing-home-xs-y;
        margin-left: $spacing-home-xs-x;
      }

      #top-links {
        opacity: 0;
        display: none;
      }

      #back-to-top {
        margin-right: $spacing-home-xs-x;
      }
    }
  }
}

@import "layout-section-home";
@import "layout-section-who";
@import "layout-section-how";
@import "layout-section-why";
@import "layout-section-testimonials";
@import "layout-section-publishers";
@import "layout-section-contact";
@import "layout-privacy";
