/**
 * Nav-toggle animation from https://codepen.io/designcouch/pen/Atyop
 */
body {
  #nav {
    padding-top: 100px;  // Refer inflecto.js
    position: fixed;
    top: -100px;  // Refer inflecto.js
    left: -$nav-width;
    bottom: 0;
    width: $nav-width;
    background: $white;
    z-index: 1;
    @include transition($transition-slow);

    .nav-login {
      opacity: 0;
      @include transition($transition-slow);

      &:before {
        margin: $spacer-y auto $spacer-y * 2;
        content: " ";
        display: block;
        width: $link-bar-width;
        height: $link-bar-height;
        background-color: $brand-secondary;
        @include transition($transition-slow);
      }
    }

    .nav-apply {
      opacity: 0;
      @include transition($transition-slow);
    }

    .nav-footer {
      padding-bottom: 100px;  // Refer inflecto.js
      width: 100%;
      position: absolute;
      bottom: $spacer-y * 1.5;
      font-size: $font-size-lg;
      text-align: center;

      a {
        color: $gray-light;

        &:hover {
          color: $brand-secondary;
        }

        &.nav-legal {
          display: block;
          font-size: $font-size-sm;
        }
      }
    }

    ul {
      margin: $spacer-y * 3 0;
      padding: 0;
      list-style: none;

      li {
        margin: 0;
        padding: 0;
        font-size: $font-size-xs;
        font-family: $headings-font-family;
        text-transform: uppercase;
        display: block;

        a {
          margin: $spacer-y * 1.5 0 $spacer-x * 1.5;
          color: $black;
          text-align: center;
          display: block;
          letter-spacing: $letter-spacing-lg;

          &:after {
            content: " ";
            margin: $link-bar-margin auto;
            width: $link-bar-width;
            height: $link-bar-height;
            background-color: transparent;
            display: block;
            @include transition($transition-base);
          }

          &:hover, &:focus {
            color: $black;

            &:after {
              background-color: $brand-secondary;
            }
          }
        }
      }
    }
  }

  #nav-toggle {
    margin: $spacing-home-lg-y 0 0 $spacing-home-lg-x;
    width: 40px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    color: $white;
    font-family: $headings-font-family;
    font-size: $font-size-xxs;
    cursor: pointer;
    letter-spacing: $letter-spacing-lg;
    text-transform: uppercase;
    @include transition($transition-slow);

    .nav-toggle-bars {
      margin: 9px 0;
      width: 21px;
      height: 40px;
      position: relative;
      transform: rotate(0deg);
      @include transition($transition-base);

      span {
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        background: $white;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        @include transition($transition-base);
      }

      span:nth-child(1) {
        top: 0px;
      }

      span:nth-child(2), span:nth-child(3) {
        top: 15px;
        width: 75%;
      }

      span:nth-child(4) {
        top: 30px;
      }
    }

    &.section-light {
      color: $black;

      span {
        background: $black;
      }
    }
  }

  #main {
    position: relative;
    left: 0;
    @include transition($transition-slow);
  }

  &.nav-open {
    #nav {
      left: 0;
    }

    #nav-toggle, #main {
      left: $nav-width;
    }

    #nav-toggle {
      .nav-toggle-bars {
        span:nth-child(1) {
          top: 15px;
          width: 0%;
          left: 50%;
        }

        span:nth-child(2) {
          transform: rotate(45deg);
        }

        span:nth-child(3) {
          transform: rotate(-45deg);
        }

        span:nth-child(4) {
          top: 15px;
          width: 0%;
          left: 50%;
        }
      }
    }
  }
}

@include media-breakpoint-between(sm, md) {
  body{
    #nav-toggle {
      margin: $spacer-y 0 0 $spacer-x * 0.4;
    }
  }
}

@include media-breakpoint-down(sm) {
  body{
    #nav-toggle {
      margin: $spacing-home-xs-y 0 0 $spacing-home-xs-x;
      width: 25px;
      font-size: 7px;
      letter-spacing: $letter-spacing-base;

      .nav-toggle-bars {
        margin: 5px 0;
        width: 20px;
        height: 28px;

        span:nth-child(2), span:nth-child(3) {
          top: 12px;
        }

        span:nth-child(4) {
          top: 24px;
        }
      }
    }

    #nav {
      ul {
        margin: $spacer-y * 1.2 0;

        li {
          a {
            margin: $spacer-y * 0.75 0 $spacer-y * 0.75;
          }
        }
      }

      .nav-login, .nav-apply {
        opacity: 1;
      }

      .nav-login:before {
        margin-bottom: $spacer-y * 1.25;
      }

      .nav-footer {
        bottom: $spacer-y * 0.75;

        a.nav-legal {
          font-size: $font-size-xs;
        }
      }
    }

    &.nav-open {
      #nav-toggle {
        .nav-toggle-bars {
          span:nth-child(1) {
            top: 12px;
          }

          span:nth-child(4) {
            top: 12px;
          }
        }
      }
    }
  }
}
