@import "./../../../node_modules/slick-carousel/slick/slick";

// Custom image url function for the theme file
@function image-url($url) {
    @return "./../img/" + $url;
}

// Custom font url function for the theme file
@function font-url($url) {
    @return "./../font/" + $url;
}

@import "./../../../node_modules/slick-carousel/slick/slick-theme";

section {
  &.section-light, &.section-dark {
    .slick-slider {
      .slick-arrow {
        width: 40px;
        height: 40px;
        opacity: 1;
        background-image: url("./../img/arrow-primary.png");
        background-repeat: no-repeat;
        background-position: bottom center;
        @include transition($transition-base);

        &:before {
          display: none;
        }

        &.slick-prev {
          left: - $spacer-x * 3.5;
          transform: rotate(90deg);
        }

        &.slick-next {
          right: - $spacer-x * 3.5;
          transform: rotate(-90deg);
        }
      }

      &.slick-dotted {
        .slick-dots {
          bottom: 0;
          margin-bottom: 0;
          text-align: right;
          position: relative;
          @include transition($transition-slowest);
          transition-delay: $transition-duration-slowest * 1.2;

          li {
            margin: 0 1px;
            @include transition($transition-slowest);
            transition-delay: $transition-duration-slowest * 1.3;

            button {
              margin: 5px 0 0 7px;
              padding: 0;
              width: 14px;
              height: 14px;
              background: transparent;
              border: 3px solid $white;
              @include transition($transition-base);

              &:before {
                color: transparent;
              }
            }

            &.slick-active {
              button {
                background: transparent;
                border-color: $brand-primary;
                cursor: default;
              }
            }
          }
        }
      }
    }
  }

  &.section-light {
    .slick-slider {
      .slick-arrow {
        background-image: url("./../img/arrow-secondary.png");
      }

      &.slick-dotted {
        .slick-dots {
          li {
            button {
              border-color: $black;
            }

            &.slick-active {
              button {
                border-color: $brand-secondary;
              }
            }
          }
        }
      }
    }
  }

  .section-left, .section-right {
    .slick-dotted {
      .slick-dots {
        left: 0;

        li {
          left: 0;
        }
      }
    }
  }

  &.section-initial {
    .section-left {
      .slick-dotted {
        .slick-dots {
          left: -1000px;

          li:nth-of-type(1) {
            left: -1000px;
          }

          li:nth-of-type(2) {
            left: -800px;
          }

          li:nth-of-type(3) {
            left: -600px;
          }

          li:nth-of-type(4) {
            left: -400px;
          }

          li:nth-of-type(5) {
            left: -200px;
          }

          li:nth-of-type(6) {
            left: 0;
          }
        }
      }
    }

    .section-right {
      .slick-dotted {
        .slick-dots {
          left: 1000px;

          li:nth-of-type(1) {
            left: 0;
          }

          li:nth-of-type(2) {
            left: 200px;
          }

          li:nth-of-type(3) {
            left: 400px;
          }

          li:nth-of-type(4) {
            left: 600px;
          }

          li:nth-of-type(5) {
            left: 800px;
          }

          li:nth-of-type(6) {
            left: 1000px;
          }
        }
      }
    }
  }
}

@include media-breakpoint-between(md, lg) {
  section {
    &.section-light, &.section-dark {
      .slick-slider {
        .slick-arrow {
          &.slick-prev {
            left: - $spacer-x * 3;
          }

          &.slick-next {
            right: - $spacer-x * 3;
          }
        }
      }
    }
  }
}

@include media-breakpoint-between(sm, md) {
  section {
    &.section-light, &.section-dark {
      .slick-slider {
        .slick-arrow {
          &.slick-prev {
            left: - $spacer-x * 2.5;
          }

          &.slick-next {
            right: - $spacer-x * 2.5;
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  section {
    &.section-light, &.section-dark {
      .slick-slider {
        .slick-arrow {
          opacity: 0;
        }
      }
    }
  }
}
