@import "avenir";

a, a:hover, a:link, a:visited, a:active {
  text-decoration: none !important;
}

h2 {
  margin-bottom: $spacer-y;
  text-transform: uppercase;

  &:after {
    margin: $heading-bar-margin;
    content: " ";
    display: block;
    width: $heading-bar-width;
    height: $heading-bar-height;
    background-color: transparent;
  }
}

p {
  margin-bottom: $spacer-y;
}

section {
  &.section-light {
    a {
      color: $brand-secondary;

      &:hover {
        color: darken($brand-secondary, 10%);
      }
    }
  }

  &.section-dark {
    a {
      color: $brand-primary;

      &:hover {
        color: darken($brand-primary, 10%);
      }
    }
  }
}

@media screen and (min-width: 1500px) {
  h2 {
    font-size: $font-size-h2 * 1.5;
  }

  body {
    font-size: $font-size-base * 1.1;
  }
}

@include media-breakpoint-down(sm) {
  h2 {
    font-size: $font-size-h2 * 0.75;
  }

  body {
    font-size: $font-size-base * 0.9;
  }
}
